nav.main-nav

  .container

    ul.main-nav__list
      li.main-nav__list-item
        a(href="/") Вузы
      li.main-nav__list-item
        a(href="/") Колледжи
      li.main-nav__list-item
        a(href="/") Техникумы
      li.main-nav__list-item
        a(href="/") Училища
      li.main-nav__list-item
        a(href="/") Специальности
      li.main-nav__list-item
        a(href="/") Профессии
      li.main-nav__list-item
        a(href="/") Отзывы
      li.main-nav__list-item
        a(href="/") Учебным заведениям
      li.main-nav__list-item
        a(href="/") Тест на профориентацию
      li.main-nav__list-item
        a(href="/") Еще один элемент списка

