nav.main-nav

  .container
    .main-nav__wrap.row.no-gutters

      .main-nav__menu.col-xl-7
        ul.main-nav__list.site-list
          li.site-list__item
            img(src="img/heart-nav.png", alt="Сердечко", width="10", height="10")
            a(href="content.html") Избранное
          li.site-list__item
            a(href="content.html", tabindex="1") О компании
          li.site-list__item
            a(href="content.html", tabindex="4") Доставка
          li.site-list__item
            a(href="content.html", tabindex="5") Оплата и возврат
          li.site-list__item
            a(href="content.html", tabindex="3") Сотрудничество
          li.site-list__item
            a(href="content.html", tabindex="2") Контакты

        ul.main-nav__list
          li.main-nav__item
            ul.menu-list
              li.menu-list__item
                a(href="content.html") Реквизиты
              li.menu-list__item
                a(href="content.html") Наши работы
              li.menu-list__item
                a(href="content.html") Блог

      button(type="button", tabindex="6").main-nav__toggle Меню
