.container
  ul.pages-list.row.no-gutters
    li.pages-list__item.col-lg-1.col-xl.order-xl-2
      a(href= "catalog.html", tabindex= 15)
        svg(width="37" height="37")
          use(xlink:href="#icon-table")
        p Столы

    li.pages-list__item.col.col-xl-1
      a(href= "catalog.html", tabindex= 12)
        svg(width="35" height="38")
          use(xlink:href="#icon-armchair")
        p Кресла

    li.pages-list__item.col
      a(href= "catalog.html", tabindex= 13)
        svg(width="28" height="38")
          use(xlink:href="#icon-sleep")
        p Светильники

    li.pages-list__item.col.order-xl-3
      a(href= "catalog.html", tabindex= 16)
        svg(width="37" height="37")
          use(xlink:href="#icon-chair")
        p Стулья

    li.pages-list__item.col.order-xl-1
      a(href= "catalog.html", tabindex= 14)
        svg(width="53" height="38")
          use(xlink:href="#icon-couch")
        p Диваны

    li.pages-list__item.col.order-xl-6
      a(href= "catalog.html", tabindex= 19)
        svg(width="46" height="32")
          use(xlink:href="#icon-bench")
        p Светильники

    li.pages-list__item.col.order-xl-4
      a(href= "catalog.html", tabindex= 17)
        svg(width="37" height="37")
          use(xlink:href="#icon-pouf")
        p Пуфы

    li.pages-list__item.col-lg-1.col-xl.order-xl-5
      a(href= "catalog.html", tabindex= 18)
        svg(width="37" height="37")
          use(xlink:href="#icon-collumn")
        p Декор

    li.pages-list__item.col-1.order-xl-7
      a(href="catalog.html", tabindex="20") Еще
        ul.pages-list__lvl2
          li.pages-list__lvl2-item
            a(href="#") Хранение
          li.pages-list__lvl2-item
            a(href="#") Свет
