mixin button(type='button', text)
  button.button(type= type)= text
    block

mixin inputSearch
  input.input-search(type="text", name="search", placeholder='Учебное заведение, специальность или профессия')
  +svg(15, 15, 'search')

mixin svg(width, height, name, className)
  svg(width=width height=height class=className)
    use(xlink:href="#icon-" + name)


