block variables
include ../mixins/mixins.pug

doctype html
html(lang="ru").page
  head
    meta(charset="utf-8")
    title Абитуриент 2022 - куда поступать после 9 и 11 класса на studika.ru
    link(rel="stylesheet", href="./style.min.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    <div style="display: none;">
      <include src="source/images/sprite.svg"></include>
    </div>
    include ../include/header
