block variables
include ../mixins/mixins.pug

doctype html
html(lang="ru").page
  head
    meta(charset="utf-8")
    title Магазин мебели RITER
    link(rel="stylesheet", href="./style.min.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    <div style="display: none;">
      <include src="source/img/sprite.svg"></include>
    </div>
    include ../include/header
