.logo {
  width: 95px;
  height: 70px;

  background-color: $cream;
  padding-top: 14px;
}

@media (min-width: $tab-width) {
  .logo {
    width: 199px;
    height: 105px;
    padding: 17px 13px 20px 16px;
  }
}
