.menu-list {
  @include list-reset();
}

.menu-list__item {
  font-size: 10px;
  a {
    color: $white;
    display: block;

    padding-top: 16px;
    padding-right: 46px;
    padding-bottom: 13px;

    &:hover {
      opacity: .8;
    }

    &:active {
      opacity: .6;
    }
  }
}

@media (min-width: $tab-width) {
  .menu-list {
    display: none;
  }
}
