.page-footer {
  text-transform: uppercase;
  background-color: $black;
}

.page-footer__list {
  @include list-reset();
}

.page-footer__title {
  @include font-style($white, 19px, 22px, 400, "Futura New Medium", .2em);
}

.page-footer__item {
  min-width: 135px;
  &:last-child {
    margin-right: auto;
  }

  a {
    @include font-style($white, 10px, 12px, 400, "Futura New Medium", .2em);
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }

  a:active {
    opacity: .6;
  }
}

.page-footer__input-subscribe {
  background-color: transparent;
  border: none;

  &::placeholder {
    @include font-style($white, 18px, 21px, 400, "Futura New Light");
  }
}

.page-footer__bottom {
  @include font-style($white, 12px, 14px, 400, "Futura New Light");
  text-transform: none;

  a {
    @include font-style($white, 12px, 14px, 400, "Futura New Light");

    text-decoration: underline;
    text-align: right;
    margin-left: auto;
  }

  a:active {
    opacity: .6;
  }
}
