.user-cart {
  @include link-to-block();
  @include items-states();

  padding-top: 23px;
  padding-bottom: 1px;
  min-width: 81px;
}

.user-cart__desc {
  @include font-style($black-05, 10px, 10px, 500, "Gotham Pro Medium");
  margin: 0;
}

.user-cart__value {
  @include font-style($black, 12px, 15px, 500, "Gotham Pro Medium");
}

.user-cart__count {
  @include font-style($white, 12px, 14px, 500, "Futura New Bold");

  position: absolute;
  z-index: 1;
  display: none;
  background-color: black;
  border-radius: 4px;
  text-align: center;
  padding-top: 2px;

  width: 26px;
  height: 17px;

  top: 21px;
  right: 0px;
}

@media (min-width: $tab-width) {
  .user-cart__value {
    font-size: 15px;
  }

  .user-cart {
    padding-right: 27px;
    padding-top: 45px;

    &::before {
      @include pseudo(24px, 21px);

      background-image: url("img/cart.svg");
      top: 45px;
      right: 1px;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-cart__count {
    display: block;
  }

  .user-cart {
    padding-right: 39px;
    padding-top: 44px;
    padding-bottom: 25px;

    &::before {
      top: 44px;
      right: 1px;
    }

    &::after{
      @include pseudo(0px, 0px);

      border: 2px solid transparent;
      border-top: 5px solid black;

      top: 38px;
      right: 10px;
    }
  }
}
